@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  /* ========== Neutral ========== */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* ========== Red ========== */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* ========== Gradients ========== */
  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* ========== Typography ========== */
  --font-family-base: 'Noto Sans', system-ui, -apple-system, sans-serif;
  --font-size-base: 1rem;

  /* ========== Font Weights ========== */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --app-bg: var(--gradient-light);
  --bg: var(--neutral-0);
  --text: var(--neutral-900);
  --description: var(--neutral-600);
  --border: var(--neutral-300);
  --filter-active-text: var(--neutral-0);
  --filter-hover: var(--neutral-300);
  --slider-bg: var(--neutral-300);
  --red-bg: var(--red-700);
  --red-hover: var(--red-400);
}

[data-theme="dark"] {
  --app-bg: var(--gradient-dark);
  --bg: var(--neutral-800);
  --text: var(--neutral-0);
  --description: var(--neutral-300);
  --border: var(--neutral-600);
  --filter-active-text: var(--neutral-900);
  --filter-hover: var(--neutral-600);
  --slider-bg: var(--neutral-600);
  --red-bg: var(--red-400);
  --red-hover: var(--red-500);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

body {
  min-height: 100vh;
  background: var(--app-bg);
  background-repeat: no-repeat;
}